<header>
    <nav>
        <ul>
            <li><a class="<%= activeNav === '/' ? 'active' : '' %>" href="/">HOME</a></li>
            <li><a class="<%= activeNav === '/about' ? 'active' : '' %>" href="/about">ABOUT</a></li>
            <li><a class="<%= activeNav === '/team' ? 'active' : '' %>" href="/team">TEAM</a></li>
            <li><a class="<%= activeNav === '/booking' ? 'active' : '' %>" href="/booking">BOOKING</a></li>
            <img src="/img/vector.svg" alt="">
            <li><a class="<%= activeNav === '/menu' ? 'active' : '' %>" href="/menu/soup">MENU</a></li>
            <li><a class="<%= activeNav === '/galerie' ? 'active' : '' %>" href="/galerie">GALERIE</a></li>
            <li><a class="<%= activeNav === '/events' ? 'active' : '' %>" href="/events">EVENTS</a></li>
            <li><a class="<%= activeNav === '/contact' ? 'active' : '' %>" href="/contact">CONTACT</a></li>
        </ul>
    </nav>
    <img src="/img/lines.svg" alt="">
    <section id="hero">
        <article>
            <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
        </article>
        <article id="heroMain">
            <h6>RESTAURANT</h6>
            <h1>HUNGRY PEOPLE</h1>
            <img src="/img/line.svg" alt="" class="line">
            <div>
                <a href="">BOOK TABLE</a>
                <a href="">EXPLORE</a>
            </div>
            <a href=""><img class="slide-bottom" src="/img/arrow-down.svg" alt=""></a>
        </article>
        <article>
            <a href=""><img src="/img/facebook.svg" alt=""></a>
            <a href=""><img src="/img/twitter.svg" alt=""></a>
            <a href=""><img src="/img/instagram.svg" alt=""></a>
        </article>
    </section>
</header>